<div class="hbb-layout-neon">
    <div class="hbb-layout-neon-ch hbb-layout-neon-ch1">H</div>
    <div class="hbb-layout-neon-ch hbb-layout-neon-ch2">e</div>
    <div class="hbb-layout-neon-ch hbb-layout-neon-ch4">a</div>
    <div class="hbb-layout-neon-ch hbb-layout-neon-ch5">r</div>
    <div class="hbb-layout-neon-ch hbb-layout-neon-ch6">t</div>
    <div class="hbb-layout-neon-ch hbb-layout-neon-ch7">b</div>
    <div class="hbb-layout-neon-ch hbb-layout-neon-ch8">r</div>
    <div class="hbb-layout-neon-ch hbb-layout-neon-ch9">e</div>
    <div class="hbb-layout-neon-ch hbb-layout-neon-ch1">a</div>
    <div class="hbb-layout-neon-ch hbb-layout-neon-ch3">k</div>
    <div class="hbb-layout-neon-space"> </div>
    <div class="hbb-layout-neon-ch hbb-layout-neon-ch1">B</div>
    <div class="hbb-layout-neon-ch hbb-layout-neon-ch5">o</div>
    <div class="hbb-layout-neon-ch hbb-layout-neon-ch6">u</div>
    <div class="hbb-layout-neon-ch hbb-layout-neon-ch7">l</div>
    <div class="hbb-layout-neon-ch hbb-layout-neon-ch8">e</div>
    <div class="hbb-layout-neon-ch hbb-layout-neon-ch2">v</div>
    <div class="hbb-layout-neon-ch hbb-layout-neon-ch1">a</div>
    <div class="hbb-layout-neon-ch hbb-layout-neon-ch9">r</div>
    <div class="hbb-layout-neon-ch hbb-layout-neon-ch8">d</div>
</div>