<div class="hbb-layout-neon">
    <div class="hbb-layout-neon-ch1">H</div>
    <div class="hbb-layout-neon-ch2">e</div>
    <div class="hbb-layout-neon-ch2">a</div>
    <div class="hbb-layout-neon-ch3">r</div>
    <div class="hbb-layout-neon-ch1">t</div>
    <div class="hbb-layout-neon-ch5">b</div>
    <div class="hbb-layout-neon-ch4">r</div>
    <div class="hbb-layout-neon-ch1">e</div>
    <div class="hbb-layout-neon-ch2">a</div>
    <div class="hbb-layout-neon-ch3">k</div>
    <div class="hbb-layout-neon-ch1"> </div>
    <div class="hbb-layout-neon-ch4">B</div>
    <div class="hbb-layout-neon-ch4">o</div>
    <div class="hbb-layout-neon-ch1">u</div>
    <div class="hbb-layout-neon-ch3">l</div>
    <div class="hbb-layout-neon-ch5">e</div>
    <div class="hbb-layout-neon-ch3">v</div>
    <div class="hbb-layout-neon-ch2">a</div>
    <div class="hbb-layout-neon-ch1">r</div>
    <div class="hbb-layout-neon-ch4">d</div>
</div>