.hbb-layout {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.hbb-layout-topnav {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
    background-color: white;
    display: flex;
    flex-direction: row;
    background-color: rgba(100,100,100, 0.2);
    border-bottom: 0.5px solid rgb(100,100,100);
    box-shadow: 1px 1px rgb(200,200,200);
}

.hbb-layout-logo {
    width: 500px;
    aspect-ratio: 500/40;
    background-image: url('images/layout/logo.webp');
    background-size: 100%;
    margin-left: 200px;
}

.hbb-layout-row {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: hidden;
}

.hbb-layout-sidenav {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 2px solid rgba(100,100,100,0.6);
}

.hbb-layout-sidenav-chapters-container {

}


.hbb-layout-bg {
    position: relative;
    width: 1667px;
    height: 1500px;
    background-image: url('images/layout/background.webp');
    background-size: 100%;
    background-repeat: no-repeat;
}

.hbb-layout-row-fill {
    width: 100%;
    height: 100%;
    background-color: red;
}

.hbb-layout-lights-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: hidden;
    animation-name: removelights;
    animation-duration: 20s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.hbb-layout-flash-container {
    position: absolute;
    top: 54%;
    left: 15%;
    transform: rotate(1.9deg);

}

.hbb-layout-main {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
}

@keyframes removelights {
    0% {
        opacity: 100%;
    }
    95% {
        opacity: 0%;
    }
    100% {
        opacity: 0%;
        display: none;
    }
}