.hbb-layout-lights {
    position: absolute;
    width: 260%;
    height: 150%;
    animation-name: pollights;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: flex;
    justify-content: center;
    align-content: center;
}

@keyframes pollights {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
