@font-face {
    font-family: 'DrippingMarker';
    font-weight: 500;
    font-style: normal;
    src: url('fonts/adrip1.ttf');
}
@font-face {
    font-family: 'PoPo';
    font-weight: 500;
    font-style: normal;
    src: url('fonts/popo.ttf');
}
@font-face {
    font-family: 'ShowcardGothic';
    font-weight: 500;
    font-style: normal;
    src: url('fonts/SHOWG.TTF');
}

@font-face {
    font-family: 'HbbMerienda';
    font-weight: 500;
    font-style: normal;
    src: url('fonts/Merienda-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'HbbGloria';
    font-weight: 500;
    font-style: normal;
    src: url('fonts/GLORIAHALLELUJAH-REGULAR.TTF');
}

@font-face {
    font-family: 'HbbDigital';
    font-weight: 500;
    font-style: normal;
    src: url('fonts/DS-DIGI.TTF');
}

@font-face {
    font-family: 'HbbElite';
    src: url('fonts/SpecialElite-Regular.ttf');
}

@font-face {
    font-family: 'HbbInkFree';
    src: url('fonts/Inkfree.ttf');
}
