<div class="hbb-spotify-player">
    <div id="@PlayerId"></div>
    <script src="https://open.spotify.com/embed/iframe-api/v1" async></script>
    <script>
        if(window.boulevardTrackUri)
           window.boulevardTrackUri = 'spotify:track:3e3pkp0mPrSH3RC6qwiRFi'
        if(window.initSpotifyPlayer == null) {
            window.initSpotifyPlayer = async (playerId) => {
              if(window.onSpotifyIframeApiReady == null) {
                window.onSpotifyIframeApiReady = (IFrameAPI) => {
                    let playerDiv = document.getElementById(playerId)
                    console.log('Configuring to use player URI: ' + window.boulevardTrackUri)
                    let options  = {
                        width: 0,
                        height: 1000,
                        uri: window.boulevardTrackUri
                    }
                    let callback = (EmbedController) => {
                        window.spotifyController = EmbedController
                        window.spotifyController.addListener('playback_update', e => {
                            console.log(e)
                        })
                    }
                    IFrameAPI.createController(playerDiv, options, callback)
                }
                window.setDimensions = (width, height) => {
                    if(window.spotifyController != null) {
                        console.log('Finna update width=' + width + ' and height= ' + height)
                        window.spotifyController.setIframeDimensions(width, height)
                    }
                }
                window.setPlaylistId = async (playlistId) => {
                    if(window.spotifyController != null) {
                        if(playlistId == null) {
                            window.spotifyController.loadUri(window.boulevardTrackUri)
                        }
                        else {
                           console.log('Finna update playlist ID = ' + playlistId)
                           window.spotifyController.loadUri('spotify:playlist:' + playlistId)
                        }
                    }
                }

               }
           }

        }
    </script>
</div>
